{% extends "base.html" %}

{% block content %}
<h2>Works log</h2>
{% for job in jobs %}
    <h3>Action # {{ job.id }}</h3>
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 26px; font-size: 36px;">
        <thead>
        <tr style="background: #cecece;">
            <th style="padding: 10px; text-align: left;">Title of activity</th>
            <th style="padding: 10px; text-align: left;">Team leader</th>
            <th style="padding: 10px; text-align: left;">Duration</th>
            <th style="padding: 10px; text-align: left;">List of collaborators</th>
            <th style="padding: 10px; text-align: left;">Is finished</th>
        </tr>
        </thead>
        <tbody>
        <tr style="background: #cdcee0;">
            <td style="padding: 10px;">{{ job.job }}</td>
            <td style="padding: 10px;">{{ job.user.surname }} {{ job.user.name }}</td>
            <td style="padding: 10px;">{{ job.work_size }} hours</td>
            <td style="padding: 10px;">{{ job.collaborators }}</td>
            <td style="padding: 10px; background: #e2d3e6;">
                {% if job.is_finished %}
                    Is finished
                {% else %}
                    Is not finished
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endfor %}
{% endblock %}
